@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../assets/axie1500x500.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff6f6;
}
#root {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
