.cont-form {
  height: 1000px;
  background-color: rgba(223, 223, 223, 1);
  padding: 4% 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-form-inputs {
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 4% 9%;
  height: 90%;
  width: 65%;
  background-color: rgba(201, 201, 201, 0.75);
  border-radius: 5%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.cont-form-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cont-form-titlesCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cont-form-titlesCont h2 {
  font-weight: 600;
  color: #302e2e;
  font-size: 26px;
}

.cont-form-titlesCont h4 {
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .cont-form {
    height: 1400px;
  }

  .cont-form-titles {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cont-form-titlesCont {
    margin-bottom: 10%;
  }

  .form-inputs-cont {
    margin-top: 6%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .form-inputs-der {
    gap: 20%;
  }

  .cont-input-label {
    margin-top: 0;
  }
  .form-inputs-izq {
    gap: 10%;
  }
}
