.form-inputs-cont {
  margin-top: 1%;
  padding: 2%;
  display: grid;
  height: 80%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
}

.form-inputs-izq {
  justify-self: center;
  margin-top: 3%;
  width: 80%;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
}

.inputsForm {
  height: 100%;
  padding: 2%;
  background-color: #bababa;
  border: 0.4px solid #909090;
}

.textForm {
  padding: 1%;
  height: 65%;
  width: 90%;
  resize: none;

  background-color: #bababa;
  border: 0.4px solid #909090;
  margin-bottom: 6%;
}

.form-inputs-der {
  margin-top: 3%;
  justify-self: center;
  width: 80%;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
}

.form-botton {
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-input-label {
  align-self: center;
  height: 60%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
}

.input-span {
  color: rgba(224, 85, 85, 0.884);
}

.button-form {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10%;
  align-self: center;
  background-color: rgba(0, 172, 208, 0.47);
  color: #4e4e4e;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-form:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.8s ease;
}

.button-form img {
  padding-left: 5%;
}

.span-erro-form {
  color: rgba(224, 85, 85, 0.884);
  font-size: 15px;
}

.form-botton-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.form-botton-text label {
  align-self: flex-start;
  margin-left: 3.9%;
}

.form-botton-button {
  display: flex;
  height: 60%;
  width: 60%;
  justify-content: center;
  align-items: center;
}
