.about-cont {
  background-color: #ffff;
  background-image: url("../../assets/WiseWolf_EscalaGrises_PNG.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  background-position: center;
}

.about-cont-img {
  height: 100%;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.65);
}

.about-cont-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  padding: 3.2%;
  color: #302e2e;
}

.about-cont-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 3.2%;
  color: #302e2e;
  text-align: justify;
}

.about-textAll h2 {
  font-size: 30px;
}

.about-textAll p {
  font-size: 20px;
}

.img-about {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: -30px;
}

@media only screen and (max-width: 600px) {
  .about-cont-text {
    padding: 6%;
  }
  .aboutus-titles-pad {
    text-align: center;
  }
}
