.cont-card {
  display: grid;
  grid-template-rows: 15% 70% 10% 5%;
  grid-template-columns: 100%;
  height: 800px;
  width: 280px;
}

.cont-card div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-card div p {
  margin: 0;
}

.cont-card-text {
  height: 100%;
}

.card-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10%;
}

.card-text {
  font-size: 17px;
  text-align: justify;
  width: 100%;
}

.cont-card h4 {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
}

.cont-card h5 {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 2%;
}
