.home-button-top {
  position: fixed;
  right: 0;
  margin: 3%;
  bottom: 0;
  background-color: rgba(0, 172, 208, 0.69);
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.6s ease;
}

.home-button-top:hover {
  bottom: 10px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.home-button-top-img {
  height: 35px;
  width: 35px;
  color: #fff6f6;
}
