.cont-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 900px;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.95);
}

.footer-inf {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  width: 100%;
  background-color: #00acd0;
}

.footer-copy {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #ffd700;
}

.footer-svg {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.footer-svg svg {
  width: 100%;
}

.symbol-copy {
  font-size: 18px;
}

.text-copy {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .cont-footer {
    height: 1000px;
  }
  .footer-inf {
    height: 90%;
  }
}
