.cont-outScho {
  background-color: rgba(196, 196, 196, 0.95);
  height: 1200px;
  width: 100%;
}

.outSho-title-cards {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4% 2%;
}

.outSho-title-cards h2 {
  margin: 6% 0%;
}

.cont-outs-card {
  display: flex;
  height: 100%;
  width: 90%;
  gap: 5%;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .cont-outScho {
    height: 2800px;
    width: 100%;
  }

  .cont-outs-card {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .outSho-title-cards h2 {
    margin-top: 10%;
    margin-bottom: 14%;
  }
}
