.footer-contAll {
  height: 100%;
  width: 100%;
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.footer-cont-logo {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.footer-logo-wise {
  height: 140px;
  width: 100%;

  margin-bottom: 5%;
}

.footer-cont-axie img {
  height: 220px;
  width: 220px;
}

.footer-cont-wwa {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #f0f0f0;
}

.footer-cont-netw {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #f0f0f0;
}

.footer-icons {
  width: 160px;
  display: flex;
  justify-content: space-around;
}

.footer-gif {
  height: 220px;
  width: 180px;
  position: absolute;
  top: 25%;
  left: 20%;
}

.footer-icons-netw {
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 600px) {
  .footer-cont {
    flex-direction: column;
  }

  .footer-gif {
    top: -130px;
    left: 15%;
  }
}
