.menubar-cont {
  height: 12%;
  padding: 1% 3%;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.logo-wise {
  margin-left: 2%;
  height: 70px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.menubar-contUl {
  margin-right: 4%;
  width: 100%;
}

.menubar-ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}

.menubar-ul li {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 3%;
  color: #050505;
}

.menubar-ul li:last-child {
  margin-right: 0;
}

.menubar-ul li h3 {
  text-transform: uppercase;
  color: #3c3d3e;
}

.togglebutton {
  display: flex;
  align-items: center;
  width: 55px;
  height: 35px;
  border-radius: 10%;
  border: none;
  background-color: rgba(29, 81, 158, 0);
  cursor: pointer;
}

.toggleFlag:hover {
  box-shadow: 0 6px 16px rgb(68, 79, 83);
  transition: all 0.8s ease;
}

.espLang {
  background-color: rgba(190, 30, 30, 0);
}

.toggleFlag {
  width: 40px;
  height: 35px;
  border: 2px solid rgba(83, 81, 81, 0.692);
  border-radius: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Hamburgur Menu */

.hamburger {
  position: fixed;
  background-color: transparent;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: rgba(0, 172, 208, 0.69);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}
.menuppal {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  color: #fff6f6;
  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;
  color: rgba(0, 172, 208, 0.69);
  text-transform: none;
  font-weight: bold;
}
.menuppal ul li a {
  text-decoration: none;
  color: rgba(0, 172, 208, 0.69);
}
.menuppal ul li a:hover {
  text-decoration: none;
  color: #333;
}

.li-new-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.new-tooltip {
  font-size: 20px;
  width: 200px !important;
}
